body{
    background-color: beige;
    max-width: min(80ch, 100vw - 1rem);
    margin-inline: auto;
}

nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

nav ul :hover{
    color: rgb(6, 171, 6);
}